:root {
  --default-font-family: "Poppins", sans-serif;
  --btn-font-family: "Montserrat", sans-serif;
  --primary-color: #d5d5d5;
  --secondary-color: #1a1a1a;
  --tertiary-color: #c7c7c7;
  --accent-color: #fff200;
}

body,
.modal-content {
  font-family: var(--default-font-family);
  background: var(--secondary-color);
  color: rgb(255, 255, 255);
}

h1,
h2,
h3 {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 36px;
  line-height: 1.5;
  letter-spacing: 0.1em;
}

h1 {
  font-size: 78px;
  font-weight: 700;
}

.accent-section {
  color: var(--accent-color);
  font-weight: 700;
}

h3 {
  color: var(--accent-color);
  font-size: 20px;
  font-weight: 700;
}

p {
  font-weight: 400;
  font-size: 18px;
}

a {
  text-decoration: none;
  color: var(--secondary-color);
}

.contact-link {
  color: var(--primary-color);
}

.hero {
  background: var(--secondary-color);
  color: white;
  text-align: center;
  padding: 100px 30px;
}

.navbar-nav .nav-item {
  margin-right: 16px;
}

.navbar-nav .nav-item .active {
  color: var(--accent-color);
}

.content-section {
  padding: 75px 30px;
}

.content {
  margin: 0 30px;
  margin-bottom: 30px;
}

.btn-branding {
  font-family: var(--btn-font-family);
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  padding: 16px 35px;
  background: whitesmoke;
  color: var(--secondary-color);
  border-radius: 30px;
}

.row {
  justify-content: center;
  align-content: center;
}

.overlay {
  position: relative;
  width: auto;
  height: auto;
}

.overlay .gallery-link {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background-color: var(--accent-color);
  left: 0px;
  top: 0px;
  opacity: 0;
  transition: opacity 150ms ease-in-out;
}

.overlay:hover .gallery-link {
  opacity: 0.85;
}

.icon {
  display: block;
  top: 30%;
  position: relative;
  font-size: 72px;
}

.icon p {
  font-size: 24px;
}

.social-media-links {
  padding: 25px;
}

footer {
  background-color: var(--secondary-color);
}

footer .social-media-links a {
  margin: 0 20px;
  color: whitesmoke;
  font-size: 20px;
}

.social-media-links i:hover {
  color: var(--accent-color);
  font-size: 25px;
}

footer p {
  font-family: var(--btn-font-family);
  font-size: 14px;
}

@media (max-width: 768px) {
  h1 {
    font-size: 42px;
  }

  h2 {
    font-size: 20px;
  }

  p {
    font-size: 16px;
  }

  .hero {
    padding: 100px 20px 30px;
  }

  .content-section {
    text-align: center;
    padding: 20px;
  }

  .content {
    margin: 30px;
  }
}

@media (max-width: 992px) {
  .content-section {
    text-align: center;
    padding: 20px;
  }

  .content {
    margin: 30px;
  }
}
